* {
	margin: 0px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
}
p {
	max-width: 800px;
	text-align: justify;
}

/* Header - start ---------------------------------*/
#header-container {
	background: #c4c4c4;
	width: 100%;
	height: 10%;
	position: fixed;
	z-index: 9000;
	display: table;
}

#header-content {
	color: #5e5e5e;
	vertical-align: middle;
	display: table-cell;
	padding-left: 30px;
}

#header-locale {
	position: absolute;
	right: 20px;
	bottom: 10px;
	float: right;
}
/* Header - end ---------------------------------*/

/* Menu - start ---------------------------------*/
#menu-container {
	background: #9c9999;
	width: 12%;
	height: 85%;
	float: left;
	position: fixed;
	top: 10%;
}

#menu-subcontainer {
	background: #828282;
	margin: 10px;
	padding-top: 5px;
	padding-bottom: 10px;
}

#menu-header {
	background: #5e5e5e;
	margin-top: 5px;
	margin-left: 10px;
	margin-bottom: 5px;
	padding: 3px;
	text-align: center;
	font-weight: bold;
	color: #9c9999;
}

#menu-content {
	background: #c4c4c4;
	margin-top: 5px;
	margin-left: 30px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding: 3px;
	text-align: right;
}
/* Menu - end ---------------------------------*/

#body-container {
	color: #373737;
	background: #e7e7e7;
	width: 86%;
	min-height: 80%;
	float: right;
	position: absolute;
	top: 10%;
	left: 12%;
	padding-bottom: 5%;
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 10px;
}

/* Footer - start ---------------------------------*/
#footer-container {
	background: #c4c4c4;
	width: 100%;
	height: 5%;
	position: fixed;
	bottom: 0%;
	display: table;
}

#footer-content {
	color: #5e5e5e;
	vertical-align: middle;
	display: table-cell;
	text-align: center;
}
/* Footer - end ---------------------------------*/

/* News List - start ---------------------------------*/
.news-item-container {
	background: #dadada;
	padding: 5px;
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width: 1000px;
}

.news-item-title {
	font-weight: bold;
	margin-bottom: 20px;
	
}

.news-item-date {
	float: right;
	text-decoration: underline;
	margin-right: 20px;
	
}

.news-item-brief {
	text-align: justify;
	max-width: 800px;
	
	
}

.news-item-actions {
	text-align: right;
	margin-right: 10px;
}

#submit-container {
	text-align: center;
	max-width: 1000px;
}

.action-item {
	vertical-align: middle;
}
/* News List - end ---------------------------------*/

/* News details/add - start ---------------------------------*/
#news-view-container, #news-add-container{
	padding: 5px;
	padding-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.details-item {
	margin-top: 30px;
	margin-bottom: 30px;
	vertical-align: top;
	
}

.details-title {
	vertical-align: top;
	width: 150px;
	display: inline-block;
	font-weight: bold;
}
	
.details-content {
	max-width: 800px;
	text-align: justify;
	display: inline-block;
}

.form-error-label {
	vertical-align: top;
	color: red;
	display: inline-block;
}

/* News details - end ---------------------------------*/

#location-container {
	margin-bottom: 20px;
}


#banch-deletion-button {
	visibility: hidden;
}

.button {
   border: 1px solid #454545;
   background: #757575;
   background: -webkit-gradient(linear, left top, left bottom, from(#d9d9d9), to(#757575));
   background: -webkit-linear-gradient(top, #d9d9d9, #757575);
   background: -moz-linear-gradient(top, #d9d9d9, #757575);
   background: -ms-linear-gradient(top, #d9d9d9, #757575);
   background: -o-linear-gradient(top, #d9d9d9, #757575);
   background-image: -ms-linear-gradient(top, #d9d9d9 0%, #757575 100%);
   padding: 9px 18px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #c4c4c4 0 1px 0;
   color: #575757;
   font-size: 14px;
   font-family: helvetica, serif;
   text-decoration: none;
   font-weight: normal;
   vertical-align: middle;
   }
.button:hover {
   border: 1px solid #474747;
   text-shadow: #545454 0 1px 0;
   text-decoration: none;
   font-weight: normal;
   background: #a3a3a3;
   background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#a3a3a3));
   background: -webkit-linear-gradient(top, #cccccc, #a3a3a3);
   background: -moz-linear-gradient(top, #cccccc, #a3a3a3);
   background: -ms-linear-gradient(top, #cccccc, #a3a3a3);
   background: -o-linear-gradient(top, #cccccc, #a3a3a3);
   background-image: -ms-linear-gradient(top, #cccccc 0%, #a3a3a3 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #5e5e5e 0 1px 0;
   text-decoration: none;
   font-weight: normal;
   border: 1px solid #474747;
   background: #d6d6d6;
   background: -webkit-gradient(linear, left top, left bottom, from(#9c9c9c), to(#a3a3a3));
   background: -webkit-linear-gradient(top, #9c9c9c, #d6d6d6);
   background: -moz-linear-gradient(top, #9c9c9c, #d6d6d6);
   background: -ms-linear-gradient(top, #9c9c9c, #d6d6d6);
   background: -o-linear-gradient(top, #9c9c9c, #d6d6d6);
   background-image: -ms-linear-gradient(top, #9c9c9c 0%, #d6d6d6 100%);
   color: #fff;
   }

a:link {
	color: #5e5e5e;
	text-decoration: none;
}

a:visited {
	color: #5e5e5e;
	text-decoration: none;
}

a:hover {
	color: #404040;
	text-decoration: underline;
	font-weight: bold;
}

a:active {
	color: #5e5e5e;
	text-decoration: none;
}